<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="img/favicon.ico">

    <title>conda-forge | community driven packaging for conda</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="css/octicons.3.4.1/octicons.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container semi-black-alpha" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i><img src="img/anvil_white.png" alt="An anvil" style="height: 1em;"></i>  <span class="light">conda-forge</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a href="docs">Docs</a>
                    </li>
                    <li>
                        <a href="blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="https://conda-forge.org/feedstock-outputs">Packages</a>
                    </li>
                    <li>
                        <a href="docs/user/announcements.html#announcements">News</a>
                    </li>
                    <li>
                        <a href="status">Status</a>
                    </li>
                    <li>
                        <a href="docs/orga/getting-in-touch.html">Contact</a>
                    </li>
                    <li>
                        <a href="https://numfocus.salsalabs.org/donate-to-conda-forge/index.html">Donate!</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://github.com/conda-forge">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container semi-black-alpha">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="img/anvil_white.png" alt="An anvil" style="height: 100px; margin: 40px;">
                        <h2 class="brand-heading"> conda-forge</h2>
                        <p class="intro-text">A community-led collection of recipes, build infrastructure and distributions for the conda package manager.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 padded">
                <br/>
                <br/>
                <h2 class="text-center">About conda-forge</h2>
                <p>
                  <a href="https://github.com/conda-forge">conda-forge</a> is a GitHub organization containing repositories of conda recipes.

                  Thanks to some awesome continuous integration providers (AppVeyor, Azure Pipelines, CircleCI and TravisCI),
                  each repository, also known as a feedstock, automatically
                  builds its own recipe in a clean and repeatable way on Windows, Linux and OSX.
                </p>
            </div>
        </div>

        <div class="row vcenter" style="display: none;" id="stats1">
            <div class="col-md-4 col-md-offset-2 padded">
              <p class="text-center" id="stats-downloads"></p>
            </div>
            <div class="col-md-4 padded">
              <p class="text-center" id="stats-members"></p>
            </div>
        </div>
        <div class="row vcenter" style="display: none;" id="stats2">
            <div class="col-md-4 col-md-offset-2 padded">
              <p class="text-center" id="stats-data"></p>
            </div>
            <div class="col-md-4 padded">
              <p class="text-center" id="stats-issues-prs"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 padded">
                <p>
                  The built distributions are uploaded to <a href="http://anaconda.org/conda-forge">anaconda.org/conda-forge</a>
                  and can be <a href="http://conda.pydata.org/docs/intro.html">installed with conda</a>. For example, to install a
                  <a href="https://github.com/conda-forge">conda-forge</a> package into an existing conda environment:
                </p>
                <code>
                    conda config --add channels conda-forge
                </code> <br>
                <code>
                    conda config --set channel_priority strict
                </code> <br>
                <code>
                    conda install &lt;package-name&gt;
                </code>
                <p> <br>
                  <a href="https://github.com/conda-forge/miniforge/#download">
                    Miniforge</a> is an effort to provide Miniconda-like
                  installers, with the added feature that conda-forge is the
                  default channel.  Unlike Miniconda, these support
                  ARMv8 64-bit (formally known as `aarch64`).
                </p>
                <p>
                If you'd like to credit conda-forge in your work, you can cite our <a href="https://doi.org/10.5281/zenodo.4774216">zenodo entry</a> like this
                <br>
                </p>
                <blockquote>
                  conda-forge community. (2015). The conda-forge Project: Community-based Software Distribution Built on the conda Package Format and Ecosystem. Zenodo. http://doi.org/10.5281/zenodo.4774216
                </blockquote>
                <p>
                or use this bibtex entry
                </p>
                <pre>{% raw %}@misc{conda_forge_community_2015_4774216,
  author       = {conda-forge community},
  title        = {{The conda-forge Project: Community-based Software
                   Distribution Built on the conda Package Format and
                   Ecosystem}},
  month        = jul,
  year         = 2015,
  publisher    = {Zenodo},
  doi          = {10.5281/zenodo.4774216},
  url          = {https://doi.org/10.5281/zenodo.4774216}
}{% endraw %}</pre>
                <p> <br>
                  Learn more about conda-forge by reading our <a href="https://conda-forge.org/docs">docs</a>
                  or watching the following episode of
                  <a href="https://www.quansight.com/open-source-directions">Open Source Directions</a>.
                </p>
                <div align="center">
                    <iframe width="560" height="315" class="responsive" src="https://www.youtube.com/embed/EWh-BtdYE7M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div id="contribute" class="contribute-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <br/>
                    <br/>
                    <h2 class="text-center">Contributing to conda-forge</h2>
                    <div class="text">
                    <p>
                    For a package on conda-forge, I want to ...
                    <ul>
                      <li><a href="#report_issue">report an issue</a></li>
                      <li><a href="#update_recipe">update a recipe</a></li>
                      <li><a href="#add_recipe">add a recipe</a></li>
                    </ul>
                    <br>
                    </p>
                    </div>
                    <h3 id="report_issue">Report an issue with a package</h2>
                    <p>
                      <ul class="fa-ul ul-instructions">
                      <li><i class="mega-octicon fa-3x octicon-search"></i>
                          Search for the appropriate feedstock repository.
                          The <a href="feedstocks">list of existing feedstocks</a> is a good place to start.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-issue-opened"></i>
                          Take a look to see if the issue has already been raised on the feedstock's issue tracker.
                          Otherwise, create a new issue, providing appropriate information, such as your operating system,
                          package versions and, a reproducible example of the problem. Even better, if you can automate the test in the conda recipe,
                          it might be worth <a href="#update_recipe">submitting a PR containing the test</a>.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-question"></i>
                          Can't find the feedstock?
                          No worries, just raise the issue at <a href="https://github.com/conda-forge/conda-forge.github.io">conda-forge/conda-forge.github.io</a>
                          and we will make sure the right people see it.
                      </li>
                      </ul>
                    </p>
                    <h3 id="update_recipe">Update a package</h2>
                    <p>
                      <ul class="fa-ul ul-instructions">
                      <li><i class="mega-octicon fa-3x octicon-search"></i>
                          Search for the appropriate feedstock repository.
                          The <a href="feedstocks">list of existing feedstocks</a> is a good place to start.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-repo-forked"></i>
                          Fork the feedstock you wish to update.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-git-branch"></i>
                          Create a new branch from the feedstock main branch.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-pencil"></i>
                          Edit the recipe as desired. You may even consider adding yourself as a recipe maintainer.
                          If you would like to know how to become a maintainer for a feedstock, please go <a href="https://conda-forge.org/docs/orga/guidelines.html#becoming-a-maintainer">here</a> to learn more.

                      </li>
                      <li><i class="mega-octicon fa-3x octicon-git-pull-request"></i>
                          Propose the change as a pull request.
                          Your recipe will automatically be built on Windows, Linux, and OSX to test that it works,
                          but the new distribution will not yet be available on the conda-forge channel.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-git-merge"></i>
                          Once the recipe is ready it will be merged. The recipe will then automatically be built and uploaded to the conda-forge channel.
                       </li>
                      </ul>
                    </p>

                    <h3 id="add_recipe">Add a recipe</h2>
                    <p>
                      <ul class="fa-ul ul-instructions">
                      <li><i class="mega-octicon fa-3x octicon-repo-forked"></i>
                          Fork <a href="https://github.com/conda-forge/staged-recipes">conda-forge/staged-recipes</a>
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-git-branch"></i>
                          Create a new branch from the staged-recipes main branch.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-pencil"></i>
                          Add a new conda recipe in a new "recipes/[your-package-name]" directory. Please make sure to follow these
                          <a href="https://conda-forge.org/docs/orga/guidelines.html">guidelines</a>.
                          You can also refer to an example of a well-written recipe in "recipes/example".
                          Further guidance on writing good recipes can be found <a href="docs/maintainer/adding_pkgs.html#the-recipe-meta-yaml">here</a>.
                          Test your recipe locally using <a href="docs/maintainer/adding_pkgs.html#running-tests-locally-for-staged-recipes">these instructions.</a>
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-git-pull-request"></i>
                          Propose the change as a pull request.
                          Your recipe will automatically be built on Windows, Linux, and OSX to test that it works,
                          but the distribution will not yet be available on the conda-forge channel.
                      </li>
                      <li><i class="mega-octicon fa-3x octicon-git-merge"></i>
                          Once the recipe is ready it will be merged and a new "feedstock" repository will automatically be created for the recipe.
                          The build and upload processes take place in the feedstock, and once complete the package will be available on the conda-forge channel.</li>
                      </ul>
                    </p>
                    <p>
                        Please consider joining our <a href="https://app.element.io/#/room/#conda-forge:matrix.org">Element</a> chatroom if you want to ask something, need help, or just want to chat with our maintainers. We would love to see you there!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsors" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div style="text-align:center;">
                    <a href="https://numfocus.org">
                        <img src="img/NumFocus_LRG.png" class="responsive" alt="Numfocus Logo" />
                    </a>
                </div>
                <br />
                <p>
                    Conda-forge is a fiscally sponsored project of NumFOCUS,
                    a nonprofit dedicated to supporting the open source
                    scientific computing community. If you like conda-forge
                    and want to support our mission, please consider making a
                    <a href="https://numfocus.salsalabs.org/donate-to-conda-forge/index.html">donation</a> to support our efforts.
                </p>
            </div>
        </div>
    </section>

    <section id="partners" class="container content-section" style="padding-bottom: 100px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/>
          <br/>
          <a class="page-scroll" style="border:none; outline:none; text-decoration:none; color:inherit;" href="#partners">
            <h1 class="text-center">Institutional Partners</h1>
          </a>
          </br>

          {% if do_fiscal > 0 %}
          <h2 class="text-center">Financial Support</h2>
          <div class="card-columns" style="column-count: {{ do_fiscal }}; padding-bottom:100px">
            {% for partner, data in inst_partners.items() %}
            {% if 'fiscal support' in data['contribution type'] %}
            <div class="card text-center">
              <a href="{{ data['Site URL'][0] }}">
                {% if 'Logo URL' in data %}
                <img style="width:{{ do_fiscal / 2 * 100 }}%" class="card-img m-5" src="{{ data['Logo URL'][0] }}" alt="{{ partner }}">
                {% endif %}
                <div class="card-img-overlay">
                  {% if 'Logo URL' not in data %}
                  <h3 class="card-title">{{ partner }}</h3>
                  {% else %}
                  <h3 class="card-title"></h3>
                  {% endif %}
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}

          {% if do_infra > 0 %}
          <h2 class="text-center">Infrastructure Support</h2>
          <div class="card-columns" style="column-count: {{ do_infra }}; padding-bottom:100px">
            {% for partner, data in inst_partners.items() %}
            {% if 'infrastructure' in data['contribution type'] %}
            <div class="card text-center">
              <a href="{{ data['Site URL'][0] }}">
                {% if 'Logo URL' in data %}
                <img style="width:{{ do_infra / 2 * 100 }}%" class="card-img m-5" src="{{ data['Logo URL'][0] }}" alt="{{ partner }}">
                {% endif %}
                <div class="card-img-overlay">
                  {% if 'Logo URL' not in data %}
                  <h3 class="card-title">{{ partner }}</h3>
                  {% else %}
                  <h3 class="card-title"></h3>
                  {% endif %}
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}

          {% if do_dev > 0 %}
          <h2 class="text-center">Developer Support</h2>
          <div class="card-columns" style="column-count: {{ do_dev }}; padding-bottom:100px">
            {% for partner, data in inst_partners.items() %}
            {% if 'dev support' in data['contribution type'] %}
            <div class="card text-center">
              <a href="{{ data['Site URL'][0] }}">
                {% if 'Logo URL' in data %}
                <img style="width:{{ do_dev / 2 * 100 }}%" class="card-img m-5" src="{{ data['Logo URL'][0] }}" alt="{{ partner }}">
                {% endif %}
                <div class="card-img-overlay">
                  {% if 'Logo URL' not in data %}
                  <h3 class="card-title">{{ partner }}</h3>
                  {% else %}
                  <h3 class="card-title"></h3>
                  {% endif %}
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>
            <a href="index.html">Home</a> |
            <a href="index.html#about">About</a> |
            <!-- <a href="index.html#contribute">Contribute</a> |
            <a href="feedstocks">Feedstocks</a> | -->
            <a href="https://github.com/conda-forge">conda-forge on GitHub</a>
            </p>
            <br/>
            <p class="small">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><a href="https://conda-forge.org">conda-forge.org</a> is licensed under a <br /> <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            </p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/theme.js"></script>

    <!-- stats -->
    <script src="js/stats.js"></script>

</body>

</html>
