.migration_details {
  margin: 0;
  max-width: 100%;
  min-height: 500px;
  overflow: auto;
}

.migration_details_bar {
  cursor: pointer;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
}

.migration_details_toggle {
  float: right;
}

.migration_details_filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.migration_details_filter_button {
  border-radius: 25px;
  cursor: pointer;
  font-size: smaller;
  font-weight: 600;
  margin: 3px;
  margin-bottom: 10px;
  width: 195px;
  user-select: none;
  text-align: right;
  padding: 2px;
  padding-right: 8px;
}

.migration_details_filter_button:hover:active {
  background-color: var(--ifm-color-primary-darkest);
  border-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-primary-lightest);
}

.migration_details_filter_button:hover {
  text-decoration: underline;
}

.migration_details_filter_done {
  background-color: var(--ifm-color-success);
}

.migration_details_filter_in_pr {
  background-color: var(--ifm-color-emphasis-500);
}

.migration_details_filter_awaiting_pr {
  background-color: var(--ifm-color-emphasis-600);
}

.migration_details_filter_awaiting_parents {
  background-color: var(--ifm-color-emphasis-800);
}

.migration_details_filter_not_solvable {
  background-color: var(--ifm-color-warning);
}

.migration_details_filter_bot_error {
  background-color: var(--ifm-color-danger);
}

.migration_details_filter_icon {
  width: 16px;
  float: left;
  margin-top: 5px;
  margin-left: 8px;
}

.migration_details table {
  font-size: small;
  display: table;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100%;
}

.migration_details table td {
  vertical-align: top;
  padding: 3px;
}

.migration_details td:first-child a,
.migration_details td:first-child span {
  min-width: 100%;
}

.migration_details td a,
.migration_details td span {
  font-size: small;
  font-weight: 600;
}

.migration_details td a {
  display: block;
}

.migration_details .collapsed,
.migration_details .expanded {
  cursor: pointer;
  display: block;
  width: 100%;
}

.migration_details .collapsed::after {
  font-size: smaller;
  content: " ▹";
}

.migration_details .expanded::after {
  font-size: smaller;
  content: " ▿";
}
