name: deploy

on:
  push:
    branches:
      - main
  pull_request: null
  workflow_dispatch: null

jobs:
  tests:
    name: deploy
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4

      - uses: conda-incubator/setup-miniconda@a4260408e20b96e80095f42ff7f1a15b27dd94ca # v3
        with:
          python-version: 3.8
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          miniforge-variant: Mambaforge
          activate-environment: conda-forge-docs
          environment-file: .ci_scripts/environment.yml

      - name: build
        shell: bash -l {0}
        run: |
          source ./.ci_scripts/update_docs
        env:
          GHREF: ${{ github.ref }}
          GHREPO: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: deploy
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./build
          user_name: conda-forge-admin
          user_email: pelson.pub+conda-forge@gmail.com

      - name: Link Checker
        uses: lycheeverse/lychee-action@2b973e86fc7b1f6b36a93795fe2c9c6ae1118621 # v1.10.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          lycheeVersion: "0.14.3"
          args: >
            --no-progress
            --base "$(pwd)/build"
            --accept 100..399,401,403,429
            --exclude 'https://conda-forge/status/'
            --exclude 'https://polys.me/?$'
            --exclude 'https://conda-metadata-app.streamlit.app/?$'
            --exclude 'https://kb43fqob7u-dsn.algolia.net/'
            --exclude '.*/404.html/'
            --exclude '.*,.*'
            --exclude-path './build/community/minutes/'
            --remap "https://conda-forge.org/(.*) file://$(pwd)/build/\$1"
            './build/**/*.html'
            '*.md'
