name: deploy

on:
  push:
    branches:
      - main
  pull_request: null
  workflow_dispatch: null

jobs:
  tests:
    name: deploy
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: conda-incubator/setup-miniconda@505e6394dae86d6a5c7fbb6e3fb8938e3e863830 # v3.1.1
        with:
          python-version: 3.8
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          activate-environment: conda-forge-docs
          environment-file: .ci_scripts/environment.yml

      - name: build
        shell: bash -l {0}
        run: |
          source ./.ci_scripts/update_docs
        env:
          GHREF: ${{ github.ref }}
          GHREPO: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: deploy
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./build
          user_name: conda-forge-admin
          user_email: pelson.pub+conda-forge@gmail.com

      - name: Link Checker
        uses: lycheeverse/lychee-action@7cd0af4c74a61395d455af97419279d86aafaede # v2.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: >
            --no-progress
            --timeout 60
            --base "$(pwd)/build"
            --accept 100..399,401,403,429
            --exclude '.*/status/migration/.*'
            --exclude 'https://polys.me/?$'
            --exclude 'https://conda-metadata-app.streamlit.app/?$'
            --exclude 'https://kb43fqob7u-dsn.algolia.net/'
            --exclude 'https://ss64.com/nt/syntax.html'
            --exclude 'https://mesa3d.org/.*'
            --exclude '.*/404.html/'
            --exclude '.*,.*'
            --exclude-path './build/community/minutes/'
            --remap "https://conda-forge.org/(.*) file://$(pwd)/build/\$1"
            './build/**/*.html'
            '*.md'
